{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Deferred Fixed Annuity Calculator | Free Calculator to Find Deferred Fixed Annuity </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Deferred Fixed Annuity Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<br>
<br>
<br>
<body>
	<script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
            document.getElementById('cards1').innerHTML=''
		}
        function handleSubmit(event) {
            if(!validate()) {
                event.preventDefault();
            }
            return;
        }
        function ClearFields() {
            document.getElementById("Ib1").value = "";
            document.getElementById("Ib2").value = "";
            document.getElementById("Ib3").value = "";
            document.getElementById("Ib4").value = "";
			
        }
	</script>
	<div class="container">
        <div class="card">
            <h1 class="card-header" style="background-color:#00BFFF;color: white;">Deferred Fixed Annuity Calculator</h1>
            <div class="card-body">
                <form method="POST" onsubmit="handleSubmit();">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Annuity Payment</strong></div>
                        </div>
                        <input type="number" step = "any"  id="Ib1"   class="form-control mt-1" name="num1" value = "{{num1}}" placeholder="10000" required >
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>Total Number of Years of Contract</strong></div>
                            </div>
                            <input type="number" id="Ib2"   class="form-control mt-1" name="num2" value = "{{num2}}" placeholder="10" required >
                            <div class="input-group-text"><strong>years</strong></div>
                            </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><strong>Annual Interest Rate</strong></div>
                                </div>
                                <input type="number" step = "any" min = "0.1" max = "100" id="Ib3"   class="form-control mt-1" name="num3" value = "{{num3}}" placeholder="0.5" required >
                                <div class="input-group-text"><strong>%</strong></div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><strong>Number of Deferred periods</strong></div>
                                        </div>
                                        <input type="number" id="Ib4"   class="form-control mt-1" name="num4" value = "{{num4}}" placeholder="5" required >
                                        </div>
                            
                    <div class="center col mt-2">
                        <center>
                        <input type="submit" class="btn btn-primary" value="Calculate" onclick="myFunction();">
                        <input type="button" class="btn btn-danger" onclick="ClearFields();Clean();ClearFields();" value="Reset" style="margin-top: 5px;">
                        </center>
                    </div>
                    </form>
            </div>
        </div>
        </div>
        {%if cas %}
        <div class = "container" id = "cards">
        <div class="card">
            <h1 class="card-header" style="background-color:#00BFFF;color: white;">Deferred Annuity for the Given Parameters</h1>
            <div class="card-body">
                <p>Deferred Annuity = {{FV}}</p>
            </div>
        </div>
        </div>
    {% endif%}
    {%if cas %}
	<div class = "container" id = "cards1">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;">Steps to Find Deferred Annuity</h1>
        <div class="card-body">
            <p>Given</p>
            <ul>
                <li><p>Annuity Payment = {{num1}}</p></li>
                <li><p>Total Number of Years of Contract = {{num2}} years</p></li>
                <li><p>Annual Interest Rate = {{num3}}%</p></li>
                <li><p>Number of Deferred periods = {{num4}}</p></li>
            </ul>
            <p>The formula of Deferred Annuity is:-</p>
            <p>Deferred Annuity = AP *[1-(1+r)<sub>-n</sub>]/[(1+r)<sub>t</sub>*r]</p>
            <p>Here, </p>
            <ul>
                <li>AP = Annuity Payment = {{num1}}</li>
                <li>r = Annual Interest Rate = {{num3}}%</li>
                <li>n = Total Number of Years of Contract = {{num2}}</li>
                <li>t = Number of Deferred Periods = {{num4}}</li>
            </ul>
            <p>Substitute the given values in given formula</p>
            <p>Deferred Annuity = {{FV}}</p>
            </div>
            </div>
            </div>
            {% endif %}
    <script>
        var scrollDiv = document.getElementById("cards").offsetTop;
        window.scrollTo({ top: scrollDiv, behavior: 'smooth' });
        
            function myFunction() {
                document.getElementById("cards").innerHTML = "";
        
            }
        </script>
    </body>
    {%endblock%}